{% extends 'faculty.html' %}
You are in marks student details of faculty
{% block content %}
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Student details</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 600px;">
                  <table class="table table-head-fixed text-nowrap">
                    <thead>
                      <tr>
                        <th>userid</th>
                <th>First name</th>
                <th>Middle name</th>
                <th>Last name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Emailid</th>
                <th>alternate E-mail id</th>
                <th>Contact number</th>
                <th>Alternate contact number</th>
                <th>Permanent address line 1</th>
                <th>Permanent address line 2</th>
                <th>Permanent landmark/road</th>
                <th>Permanent pincode</th>
                <th>Permanent city id</th>
                <th>Corresponding address line 1</th>
                <th>Corresponding address line 2</th>
                <th>Corresponding landmark/road</th>
                <th>Corresponding pincode</th>
                <th>Corresponding city id</th>
                <th>Usertype(1=Admin,2=Facuty,3=Student)</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for customuser in student_list %}
                        <tr>
                            <td>{{ customuser.userid }}</td>
                            <td>{{ customuser.first_name }}</td>
                            <td>{{ customuser.middle_name }}</td>
                            <td>{{ customuser.last_name }}</td>
                            <td>{{ customuser.dob }}</td>
                            <td>{{ customuser.gender }}</td>
                            <td>{{ customuser.emailid }}</td>
                            <td>{{ customuser.altemailid }}</td>
                            <td>{{ customuser.contact }}</td>
                            <td>{{ customuser.altcontact }}</td>
                            <td>{{ customuser.paddressline1 }}</td>
                            <td>{{ customuser.paddressline2 }}</td>
                            <td>{{ customuser.plandmark }}</td>
                            <td>{{ customuser.ppincode }}</td>
                            <td>{{ customuser.pcityid }}</td>
                            <td>{{ customuser.caddressline1 }}</td>
                            <td>{{ customuser.caddressline2 }}</td>
                            <td>{{ customuser.clandmark }}</td>
                            <td>{{ customuser.cpincode }}</td>
                            <td>{{ customuser.ccityid }}</td>
                            <td>{{ customuser.usertype }}</td>                       
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              
            </div>
          </div>
{% endblock %}