{% extends 'admin.html' %}
{% block content %}

<div class="container mt-2 mb-4">
    <div class="row justify-content-md-center">
        {% comment %} <div class="col-sm-4 border border-primary shadow rounded pt-2"> {% endcomment %}
            <div class="text-center"><font size=6><b> Choose Message</b></font></div>
            <div class="col-sm-12"><br>
                <form method="post" id="delete message" action ="/sendmessage" >
                    {% csrf_token %}
                    
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                          <thead>
                            <tr>
                                <th>Select </th>
                                <th>Message Id </th>
                                <th>Message Subject </th>
                                <th>Message Sending date </th>
                                <th>Message Content </th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for i in list2 %}
                              <tr>
                                  <td><input type="radio" id="{{i.smsid}}" name="checklist" value="{{i.smsid}}" required></td>

                                  <td>{{ i.smsid }}</td>
                                  <td>{{ i.smssubject }}</td>
                                  <td>{{ i.smsdate }}</td>
                                  <td>{{ i.smscontent }}</td>                       
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                        </br>
                        <div class="form-group">
                            <input type="submit" name="choosemsg" value="Send" class="btn btn-block    btn-danger">
                        </div>
                      </div>
                </form>
            </div>
         {% comment %} </div>  {% endcomment %}
    </div>
</div>


{% endblock %}